---
// # Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

// Add logo to masthead
.site-title::before {
	background-image: url(/favicon-96x96.png);
    content: "";
    display: inline-block;
    position: relative;
    width: 32px;
    top: 7px;
    height: 32px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 8px;
}